@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Опис лабораторної роботи -->
<div class="row mt-5 mb-5">
    <div class="col-md-8 offset-md-2">
        <div class="bg-light shadow rounded p-5">
            <h2 class="mb-4 text-black text-center display-5">Лабораторна робота №2</h2>
            <p class="text-center text-black fs-5">
                <strong>Василига Даниїл</strong><br />
                Предметна область: <strong>Сервіс оренди авто</strong><br />
                Під час виконання роботи було реалізовано вебзастосунок на основі <strong>ASP.NET Core Web API</strong> з використанням <strong>EF Core (Code First)</strong>, <strong>Razor Pages</strong> та <strong>JavaScript</strong>.
            </p>
            <p class="text-center text-black fs-5">
                Основні REST-методи: <strong>GET</strong>, <strong>POST</strong>, <strong>PUT</strong>, <strong>DELETE</strong> застосовано для взаємодії з такими сутностями:
            </p>
            <ul class="text-black fs-5" style="max-width: 600px; margin: 0 auto;">
                <li><strong>Авто</strong> – інформація про доступні транспортні засоби;</li>
                <li><strong>Бронювання</strong> – збереження даних про оренду;</li>
                <li><strong>Відгуки</strong> – залишення коментарів клієнтами.</li>
            </ul>
        </div>
    </div>
</div>
